body {
  background-color: #03001c;
  color: #b6eada;
  font-family: Arial Black;
  text-align: center;
}
header {
  text-align: center;
  padding-top: 30px;
}
label,
b {
  font-family: arial hebrew;
  font-weight: 700;
}
input {
  background-color: #d9d9d9;
  font-family: arial hebrew;
}
form {
  border: 1px solid #301e67;
  background-color: #301e67;
  border-radius: 13px;
  padding: 12px;
  margin-inline: 350px;
}
